{% extends 'base.html' %}
{% block content %}
<div class="shadow card">
                <div class="card-body">
                    <h6 class="card-title"> {{task.name}}</h6>
                    <h6>{{task.priority}}</h6><br>
                    <h6>{{task.date}}</h6>
                    <a class="btn btn-danger" href="{% url 'delete' task.id %} ">Delete</a>
                    <a class="btn btn-success" href="{% url 'update' task.id %} ">Update</a>
                </div>
            </div>
{% endblock %}